<% provide(:title, '') %>
<% if signed_in? %>
    
  <div class="span10 offset1">
    <div class="homeblurb">
    <%= render 'layouts/messages' %>
    <div class="maincta"><%= link_to "Open App on iPhone", "YipTip://", class: "btn btn-large btn-primary" %></div> 
    <%= link_to 'Sign Out', destroy_user_session_path, :method=>'delete' %> 
    </div> 
  </div> 
<% else %>

  <%-# Home page -%>
  <div class="span10 offset1">
    <div class="homeblurb">
    <%= render 'layouts/messages' %>
    The YipTip app lets you stay in touch with your favorite bartenders. You and your friends can see who's working where and discover new drinking destinations. Bartenders can build their following and promote their latest concoction.<br /><br /><strong>Find good people and good times!</strong></div>
    <div class="maincta">
      <div class="mainctainnerleft"><a href="https://itunes.apple.com/us/app/mybarkeepers/id784235366?ls=1&mt=8"><div class="btn-ios"></div></a></div>
      <div class="mainctainnerright"><a href="https://play.google.com/store/apps/details?id=com.heybarkeep.android"><div class="btn-android"></div></a></div>
    </div> 
    <br /><br />
    <div class="phoneart">
      <%= image_tag("phone_promosite.png", alt: "YipTip", class:'img-responsive') %>
    </div>
  </div> 
<% end %>