<% provide(:title, '') %>
<% if signed_in? %>
    
  <%-# Profile Info -%>
  <div class="span6 offset3">
    <h2><%= @user.name %></h2>

    <%= render 'layouts/messages' %>

    <div class="profile">
      <div class="profilephoto">
        <%= image_tag @user.photo.url(:small) %>
      </div>
    </div>
    <br />
    <div class="profile">
      <ul>
        <li><%= link_to 'Update My Profile', edit_user_registration_path %></li>
        <!--<li><a href="<%= following_user_path(@user) %>">My Bartenders (<%= @user.followed_users.count %>)</a></li>
        <li><a href="<%= followers_user_path(@user) %>">My Followers (<%= @user.followers.count %>)</a></li>-->
      </ul>
    </div>
  </div>

<% else %>

  <%-# Home page -%>
  <div class="span10 offset1">
    <%= render 'layouts/messages' %>

    <div class="featuredphoneart"></div>
    <div class="maincta"><%= link_to "Download for iPhone", "https://itunes.apple.com/us/app/mybarkeepers/id784235366?ls=1&mt=8", class: "btn btn-large btn-primary" %></div> 
    <!--<div class="appbuttoncontainer"><a href="https://itunes.apple.com/us/app/mybarkeepers/id784235366?ls=1&mt=8"><div class="appbutton"></div></a></div>-->

    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <hr />
    <div class="homeblurb"><h3>Bartenders (with iPhones/iPads for now):<br/>We need your help! </h3></div> 
    <div class="homeblurb">With MyBarkeepers, you will be able to build your following, driving more patrons and more money your way. You’ll be able to advertise your specialty drinks, as well as let people know when you are bartending on different nights or at different venues.</div> 
    <br />
    <div class="homeblurb">For Patrons, the app can show them who's working where and discover new drinking destinations. Would you rather just find the closest bar or find the closest bar with great bartenders and the cocktails you love?</div> 
    <br />
    <div class="homeblurb">We just released our app in March 2014 and are now recruiting bartenders in all cities. MyBarkeepers will be the app that truly highlights the importance of the bartender, but we need to get you registered before the official public launch. <a href="https://itunes.apple.com/us/app/mybarkeepers/id784235366?ls=1&mt=8">Download the app</a> and sign up for our email list below &mdash; or feel free to drop us an email at <a href="mailto:mybarkeepers@lifestylesupply.co">mybarkeepers@lifestylesupply.co</a> with your ideas and questions. There will be VIP perks for the pioneers...</div> 
    <br />
    
    <form action="http://mybarkeepers.us7.list-manage2.com/subscribe/post?u=dbb4d1f5367ae64794a16cb3f&amp;id=f01134f88a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="new_user" novalidate>
      <div>
        <input type="email" value="" name="EMAIL" class="smallinput" id="mce-EMAIL" placeholder="Enter your email">&nbsp;&nbsp;<input type="submit" value="Get on the list" name="subscribe" id="mc-embedded-subscribe" class="btn">
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>  
    </form>
    </div>
    <hr />
    
    <div class="phoneart"></div>
    
  </div> 
<% end %>