<% provide(:title, '') %>
<% if signed_in? %>
    
  <%-# Profile Info -%>
  <div class="span6 offset3">
    <h2><%= @user.name %></h2>

    <%= render 'layouts/messages' %>

    <div class="profile">
      <div class="profilephoto">
        <%= image_tag @user.photo.url(:small) %>
      </div>
    </div>
    <br />
    <div class="profile">
      <ul>
        <li><%= link_to 'Update My Profile', edit_user_registration_path %></li>
        <!--<li><a href="<%= following_user_path(@user) %>">My Bartenders (<%= @user.followed_users.count %>)</a></li>
        <li><a href="<%= followers_user_path(@user) %>">My Followers (<%= @user.followers.count %>)</a></li>-->
      </ul>
    </div>
  </div>

<% else %>

  <%-# Home page -%>
  <div class="span10 offset1">
    <%= render 'layouts/messages' %>
    <div class="homeblurb">The MyBarkeepers app lets you stay in touch with your favorite bartenders. You and your friends can see who's working where and discover new drinking destinations. Bartenders can build their following and promote their latest concoction. Let's have a drink!</div>
    <br />
    <div class="homeblurb">Available now for iPhone!</div> 
    <div class="maincta"><%= link_to "Download", "https://itunes.apple.com/us/app/mybarkeepers/id784235366?ls=1&mt=8", class: "btn btn-large btn-primary" %></div> 
    <div class="appbuttoncontainer"><a href="https://itunes.apple.com/us/app/mybarkeepers/id784235366?ls=1&mt=8"><div class="appbutton"></div></a></div>
    
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <hr />
    <div class="homeblurb"><strong>Are you a bartender?</strong></div> 
    <div class="homeblurb">We just launched and are recruiting bartenders in all cities! We can feature your profile and help you promote yourself. <a href="https://itunes.apple.com/us/app/mybarkeepers/id784235366?ls=1&mt=8">Download the app</a> and sign up for our email list below to participate. You can also just drop us a line with ideas or questions at <a href="mailto:mybarkeepers@lifestylesupply.co">mybarkeepers@lifestylesupply.co</a></div> 
    <br />
    <form action="http://mybarkeepers.us7.list-manage2.com/subscribe/post?u=dbb4d1f5367ae64794a16cb3f&amp;id=f01134f88a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="new_user" novalidate>
      <div>
        <input type="email" value="" name="EMAIL" class="smallinput" id="mce-EMAIL" placeholder="Enter your email">&nbsp;&nbsp;<input type="submit" value="Get on the list" name="subscribe" id="mc-embedded-subscribe" class="btn">
      </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>  
    </form>
    </div>
    <hr />
    <!--End mc_embed_signup-->
    <div class="phoneart"></div>
    
  </div> 
<% end %>