<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= content_for?(:title) ? yield(:title) : "YipTip" %></title>
    <meta name="description" content="The YipTip app lets you stay in touch with your favorite bartenders. You and your friends can see who's working where and discover new drinking destinations. Bartenders can build their following and promote their latest concoction.">
    <meta name="keywords" content="tipsly, Good Times, YipTip, android, iphone, social, heybarkeep, app, bartender, bar, drink, drinking, cocktail, mixology, nightlife, pub, happy hour, cheap, nyc, specials, beer, hey, barkeep">

    <meta property="og:title" content="Find good people and good times with YipTip" />
    <meta property="og:site_name" content="YipTip"/>
    <meta property="og:url" content="http://www.yiptip.com" />
    <meta property="og:description" content="The YipTip app lets you stay in touch with your favorite bartenders. You and your friends can see who's working where and discover new drinking destinations. Bartenders can build their following and promote their latest concoction." />
    <meta property="fb:app_id" content="435864419895099" />
    <meta property="og:locale" content="en_US" /> 
    <meta property="og:image" content="http://www.yiptip.com/assets/Preview_Rec-eab5de8f71c5c172120633fe7155f38f.jpg" />
    <meta property="og:image:url" content="http://www.yiptip.com/assets/Preview_Rec-eab5de8f71c5c172120633fe7155f38f.jpg" />
    <meta property="og:image:secure_url" content="https://www.yiptip.com/assets/Preview_Rec-eab5de8f71c5c172120633fe7155f38f.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="sitewidth"></div>
      <%= render 'layouts/header' %>
    <div class="maincontainer">
      <div id="main" role="main">
        <div class="container">
          <div class="row">
            <%= yield %>
          </div>
        </div> 
      </div> 
    </div>
    <div class="footercontainer">
      <div class="container">
        <div class="row">
          <div class="span10 offset1">
            <footer class="footer">
              <div id="footerright">
                &copy; <%= copyright_notice_year %> YipTip All Rights Reserved.  
              </div>
              <div id="footerleft">
                <a href="/contact">Contact us</a> anytime with questions or comments.
              </div>
            </footer>
          </div> 
        </div> 
      </div> 
    </div>
  </body>
</html>